annotate==1.0.8
appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect==1.1.0
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.5
django-bootstrap3==11.1.0
django-bootstrap4==1.0.1
django-crispy-forms==1.7.2
django-fontawesome==1.0
django-heroku==0.3.1
django-static-fontawesome==5.10.2
dpkt==1.9.2
entrypoints==0.3
future==0.17.1
geocoder==1.38.1
get-mac==0.8.1
gunicorn==19.9.0
idna==2.8
IP2Location==8.2.2
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
keyring==19.2.0
lazy-object-proxy==1.4.2
libpcap==1.10.0b3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
minidb==2.0.2
mistune==0.8.4
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.17
mysqlclient==1.4.4
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.9
nltk==3.4.5
notebook==6.0.1
pandocfilters==1.4.2
parso==0.5.1
pcap-ct==1.2.0b5
pickleshare==0.7.5
Pillow==6.1.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.2
psutil==5.6.3
psycopg2==2.8.3
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.4.2
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
pypiwin32==223
pyrsistent==0.15.4
python-arptable==0.0.2
python-dateutil==2.8.0
python-nmap==0.6.1
pytz==2019.2
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.4
ratelim==0.1.6
requests==2.22.0
rope==0.14.0
scapy==2.4.3
scapy-python3==0.26
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.3
speedtest-cli==2.1.2
sqlparse==0.3.0
tabulate==0.8.3
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
typed-ast==1.4.0
urllib3==1.25.3
urlwatch==2.17
virtualenv==16.7.5
virtualenvwrapper-win==1.2.5
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.4
widgetsnbextension==3.5.1
WMI==1.4.9
wrapt==1.11.2
