<!-- this is contact form. -->
{% extends  'index.html' %}
<!-- this is load django crispy_forms -->
{% load crispy_forms_tags %}
{% block content %}
<br/><div class="shadow p-3 mb-5 bg-white rounded container signup" id="boxshadow" style="width:35%">
    <form method="POST" action="{% url 'contact' %}">  
        {% csrf_token %}
        <h2 align="center">Contact_us</h2>
        {{ form|crispy }}
        <br/><button type="submit" class="btn btn-success btn-block">Send</button>
    </form>
</div>
{% endblock %}