{% extends  'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br/><div class="shadow p-3 mb-5 bg-white rounded container signup" id="boxshadow" style="width:30%">
    <form class="form" method="POST" action="{% url 'accounts:login' %}" >
        {% csrf_token %}
        <h2 align="center">Login</h2>
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        {{ form|crispy }}
        <br/><button type="submit" class="btn btn-success btn-block" >Log in</button>
    </form>
    <p class="text-center"><a href="{% url 'accounts:register' %}">Create an Account</a></p>
</div>


{% endblock %}